:root {
  --primary-color: #daa923;
  --secondary-color: #a12397;

  --neutral-100: #f0f0f0;
  --neutral-60: #666666;

  --error-color: var(--primary-color);

  --standard-border: solid 3px var(--primary-color);
}

header {
  --header-height: 80px;
  background-color: var(--primary-color);
  color: var(--neutral-100);
  height: var(--header-height);
  line-height: var(--header-height);
  padding-left: 20px;
  font-size: large;
}

h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

h2 {
  font-size: 15px;
  font-weight: bold;
}

label {
  font-size: 20px;
}

.navbar {
  background-color: var(--secondary-color);
  color: var(--neutral-100);
  height: 25px;
  line-height: 25px;
  padding-left: 20px;
}

.navbar a,
.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
  color: var(--neutral-100);
}

.main {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.tabla {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  color: #333232;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #949191;
  border-collapse: collapse;
}

.tabla .lista-vacia {
  text-align: center;
  padding: 25px;
  color: var(--neutral-60);
}

.tabla .error {
  color: var(--secondary-color);
  font-size: small;
  margin: 0 0 10px 0;
  line-height: 1rem;
}

.footer {
  padding: 20px;
  border-top: var(--standard-border);
}

.acciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boton {
  border: 0.5px solid var(--neutral-60);
  cursor: pointer;
  background-color: white;
  color: var(--primary-color);
}

.boton:hover {
  background-color: var(--neutral-60);
  color: var(--neutral-100)
}

.mini-boton {
  width: 40px;
  height: 40px;
  background-color: var(--neutral-100);
  color: var(--neutral-60)
}

.campo {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  gap: 30px;
}

.linea {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.fa-custom-size {
  font-size: 25px;
}

.derecha {
  justify-content: flex-end;

}

.linea_borde {
  display: inline-block;
  border-bottom: solid 1px #666666;
  min-width: 70px
}

.error_derecha {
  justify-content: end;
}

.error {
  font-size: 15px;
  color: var(--secondary-color)
}

.mini-boton_PU {
  width: 40px;
  height: 40px;
  background-color: var(--neutral-100);
  color: var(--neutral-60);
  margin-top: 70px
}