{% extends "base.html" %}

{% block page_title%}
<h1>Comprar cryptos</h1>
{% endblock page_title %}

{% block contenido %}

<form action="/compra" method="post" class="formulario">

    <!-- Moneda_from y to -->
    <div class="campo">
        <div>
            <label for="moneda_from">From:</label>
            <select id="moneda_from" name="moneda_from">
                <option value="EUR">EURO (EUR)</option>
                <option value="BTC">Bitcoin (BTC)</option>
                <option value="ETH">Ethereum (ETH)</option>
                <option value="USDT">Tether (USDT)</option>
                <option value="ADA">Cardano (ADA)</option>
                <option value="SOL">Solana (SOL)</option>
                <option value="XRP">Ripple (XRP)</option>
                <option value="DOT">Polkadot (DOT)</option>
                <option value="DOGE">Dogecoin (DOGE)</option>
            </select>
        </div>
        <div>
            <label for="moneda_to">From:</label>
            <select id="moneda_to" name="moneda_to">
                <option value="EUR">EURO (EUR)</option>
                <option value="BTC">Bitcoin (BTC)</option>
                <option value="ETH">Ethereum (ETH)</option>
                <option value="USDT">Tether (USDT)</option>
                <option value="ADA">Cardano (ADA)</option>
                <option value="SOL">Solana (SOL)</option>
                <option value="XRP">Ripple (XRP)</option>
                <option value="DOT">Polkadot (DOT)</option>
                <option value="DOGE">Dogecoin (DOGE)</option>
            </select>
        </div>
    </div>


    <!-- Cantidad_from -->
    <div class="campo linea">
        <div class="campo calculadora">
            <label for="cantidad_from">Cantidad:</label>
            <input type="number" name="cantidad_from" id="cantidad_from" step=".00001" min="0.00001" required>
            <button class="mini-boton">
                <i class="fa-solid fa-calculator fa-custom-size"></i>
            </button>
            <div>
            </div>
        </div class="cantidad_to">
        Cantidad: ____________
    </div>
    </div>


    <!-- Botón de enviar
    <div class="acciones">
        <button type="submit">Enviar</button>
    </div>-->
</form>

{% endblock contenido %}