{% extends "base.html" %}

{% block page_title%}
<h1>Compra de Cryptos</h1>
{% endblock page_title %}

{% block contenido %}

{% if form.errors %}
<div class="errores">
    <p class="error">
        Algunos datos que has insertado son inválidos:
    </p>
</div>
{% endif %}

<form action="/compra" method="post" class="formulario">
    {{ form.csrf_token }}

    <!-- Moneda_from y to -->
    <div class="linea">
        <div>
            {{form.moneda_from.label}}
            {% if not blockControl %}
            {{form.moneda_from}}
            {% else %}
            <input type="hidden" name="moneda_from" value="{{form.moneda_from.data}}">
            {{form.moneda_from.data}}
            {% endif %}
        </div>
        <div>
            {{form.moneda_to.label}}
            {% if not blockControl %}
            {{form.moneda_to}}
            {% else %}
            <input type="hidden" name="moneda_to" value="{{form.moneda_to.data}}">
            {{form.moneda_to.data}}
            {% endif %}
        </div>
    </div>

    <div class="linea">
        {% if form.errors['moneda_from'] %}
        {% for error_moneda_from in form.errors['moneda_from'] %}
        <div class="error">{{error_moneda_from}}</div>
        {% endfor %}
        {% endif %}

        <div class="error_derecha">
            {% if form.errors['moneda_to'] %}
            {% for error_moneda_to in form.errors['moneda_to'] %}
            <div class="error">{{error_moneda_to}}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="linea">
        <div class="campo">
            {{form.cantidad.label}}
            {{form.cantidad}}
            <button name="boton" value="calcular" class="mini-boton">
                <i class="fa-solid fa-calculator fa-custom-size"></i>
            </button>
        </div>
        <div class="campo">
            <div class="derecha">
                <label for="cantidad_to">Q:</label>
                <span class="linea_borde">{{cantidad_to}}</span>
            </div>
        </div>
    </div>
    <div class="linea">
        {% if form.errors['cantidad'] %}
        {% for error_cantidad in form.errors['cantidad'] %}
        <div class="error">{{error_cantidad}}</div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="campo derecha">
        <label for="P.U.">P.U.:</label>
        <span class="linea_borde">{{precio_unitario}}</span>
    </div>

    <div class="campo derecha">
        <button name="boton" value="enviar" class="mini-boton_PU">
            <i class="fa-solid fa-check fa-custom-size"></i>
        </button>
    </div>
    </div>
</form>

{% endblock contenido %}