{% extends "base.html" %}

{% block page_title%}
<h1>Estado de la inversión</h1>
{% endblock page_title %}

{% block contenido %}

<h2 class="linea">
    <div>Invertido (EUR): <span class="linea_borde">{{total_euros_from}}</span></div>
    <div>Retirado (EUR): <span class="linea_borde">{{total_euros_to}}</span></div>
</h2>

<table class='paper tabla'>
    {% if resultado %}
    <tr class="fila">
        <th>Moneda:</th>
        <th>Total:</th>
        <th>Euros equivalentes:</th>
    </tr>
    {% for moneda, total in totales_monedas.items() %}
    {% if moneda != 'EUR' and total != 0 %}
    <tr class="fila">
        <td>{{ moneda }}</td>
        <td>{{ total }}</td>
        <td>{{ eur_equiv.get(moneda, 0) }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% else %}
    <tr class="fila">
        <td class="lista-vacia" colspan="3">No hay movimientos</td>
    </tr>
    {% endif %}
</table>

<h2 class="linea">
    <div>Ganancia (EUR): <span class="linea_borde">{{ganancia}}</span></div>
    <div>Total EUR equivalentes: <span class="linea_borde">{{total_eur_equiv}}</span></div>
</h2>

{% endblock %}